.control-panel-icon {
    icon-size: 1.091em;
    padding: 0px 4px 0px 4px;      
    margin: 0
 }  

.control-panel-icon:insensitive {
    opacity: 0.5;
    color: #888888;
}

.player-icon { 
    icon-size: 1.091em;
    padding: 0 6px;
    margin: 0 4px;
}

.player-icon:insensitive {
    opacity: 0.5;
    color: #888888;
}

.track-title:insensitive {
    opacity: 0.5;
    color: #888888;
}

.dim-label {
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}
